{% extends 'base.html' %}

{% block titulo %}Principal{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
		<section id="slide">
			<header class="page-header" style="border-bottom: none;">    			
			</header>
			<section class="carousel slide" id="carrossel">
				<div class="carousel-inner">
					<figure class="active item">
						<img src="{{ STATIC_URL }}img/slide/img01.jpg" alt="img01" />
						<figcaption class="carousel-caption" style="text-align:left; left:0%; right:0%; bottom:0px; padding-bottom: 0px; background:#000000; opacity: 0.7; padding-top: 0px;">
							<h4 style="margin-left: 1%; margin-right: 1%;">RexIntercom</h4>
							<p style="margin-left: 1%; margin-right: 1%;">Suporte 24 horas!</p>
						</figcaption>
					</figure>
					<figure class="item">
						<img src="{{ STATIC_URL }}img/slide/img02.jpg" alt="img02" />
						<figcaption class="carousel-caption" style="text-align:left; left:0%; right:0%; bottom:0px; padding-bottom: 0px; background:#000000; opacity: 0.7; padding-top: 0px;">
							<h4 style="margin-left: 1%; margin-right: 1%;">RexIntercom</h4>
							<p style="margin-left: 1%; margin-right: 1%;">Mobilidade e Tecnolgia em um só lugar</p>
						</figcaption>
					</figure>
				</div>
				<a href="#carrossel" class="carousel-control left" data-slide="prev"></spam>&lsaquo;</a>
				<a href="#carrossel" class="carousel-control right" data-slide="next">&rsaquo;</a>
			</section>	
		</section>
	</div>
	<div class="col-sm-1" align="center">
		<section id="MeuModal" class="modal-content modal-dialog fade" tabindex="-1" role="dialog" aria-labelledby="meuModalLabel" style="z-index: 1050; float: left; position: absolute; left:0px; display: none; top: 10%;">
			<header class="modal-header">
				<button class="close" data-dismiss="modal" aria-hidden="true" alt="Discordar">x</button>
				<h3 id="meuModalLabel" class="modal-title"><b><center>Política de Uso de Dados</center><b></h3>
			</header>

			<section class="modal-body">
					<div class="form-group" style="width:relative; height:300px; overflow-y: auto;">
						<p style="text-align: justify; margin:1px 3px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
			</section>
			<footer class="modal-footer">
				<center>
					<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Concordo</button>
				</center>
			</footer>
		</section>
	</div>
	<div class="col-sm-5" align="center">
		<header class="page-header">
			<h1>Abra uma conta -<small> É gratuito!</small></h1>
		</header>
		<form class="form-horizontal" action="/usuario/salvar/" method="POST" role="form" style="margin-top:25px;">{% csrf_token %}

			<input type="hidden" id="codigo" name="codigo" value="{{ usuario.pk|default_if_none:'0' }}">

			<div class="form-group">
				<div class="col-sm-5">
					<input name="nome" id="idNome" value="{{ usuario.nome }}" type="text" class="form-control"  placeholder="Nome">
				</div>
				<div class="col-sm-7">
					<input name="sobrenome" id="idSobrenome" value="{{ usuario.sobrenome }}" type="text" class="form-control"  placeholder="Sobrenome">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<input name="email" id="idEmail" value="{{ pessoa.email|default_if_none:'' }}" type="email" class="form-control" placeholder="E-mail">
				</div>
			</div>

			<div class="form-group" style="margin-bottom:25px;" >
				<div class="col-sm-6">
					<input name="cpf" id="idCpf" value="{{ usuario.cpf|default_if_none:'0' }}" type="text" class="form-control"  placeholder="CPF" data-mask="999.999.999-99">
				</div>

				<div class="col-sm-6">
					<select class="form-control" name="sexo" id="idSexo" >
						<option value="0">Sexo</option>
						<option value="1">Feiminino</option>
						<option value="2">Masculino</option>
					</select>
				</div>
			</div>

			<input type="hidden" id="status" name="status" value="{{ usuario.status|default_if_none:'2' }}">

			<div class="form-group">
				<div class="panel-title">
					<label for="pessoa_id">Data de Nascimento</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<select class="form-control" name="dia" id="idDia" >
						<option value="0">Dia</option>
						{% for dia in dias %}
							<option value="{{ dia.dia }}">{{ dia.dia }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-4">
					<select class="form-control" name="mes" id="idMes" >
						<option value="0">Mes</option>
						{% for mes in meses %}
							<option value="{{ mes.mes }}">{{ mes.mesR }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-4">
					<select class="form-control" name="ano" id="idAno" >
						<option value="0">Ano</option>
						{% for ano in anos %}
							<option value="{{ ano.ano }}">{{ ano.ano }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div>
				<footer class="page-header" style="padding:10px;" align="center">
					<p>Ao clicar em <b>Criar uma conta</b><br>
					você comcorda com nossos Termos<br>
					e que você leu nossa 
					<b>
						<u>
							<a href="#MeuModal" role="button" data-toggle="modal" style="color: #000000;">
								Política de Uso de Dados
							</a>
						</u>
					</b>.</p>
				</footer>
			</div>
			<div align="center">
				<button type="submit" class="btn btn-success">Criar uma conta</button>
				{% if pessoa.pk > 0 %}
				<a class="btn btn-danger" href="/pessoas/excluir/{{ pessoa.pk }}/">Excluir Registro</a>
				{% endif %}
			</div>
		</form>	
	</div>

	<script type="text/javascript">
		$('.carousel').carousel({
			interval:5000
		})
	</script>
{%endblock conteudo %}